@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos extra necesarios para el mapa */
.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}
